<app-logged-in-user-menu-navbar [rolName]="'Administrador'" [theme]="theme" (themeTogglerEvent)="toggleTheme($event)">
</app-logged-in-user-menu-navbar>
<div [ngClass]="{
        'flex': true, 'flex-col': true, 'bg-zinc-700': theme==='dark', 'mt-28': true,
        'px-2': true, 'pt-12': true, 'h-24': true, 'md:mt-11': true, 'md:px-20': true, 'lg:mt-11': true,
        'lg:px-60': true, 'xl:mt-11': true, 'xl:px-72': true, '2xl:mt-11': true,'2xl:px-80': true,
        '2xl:pt-16': true
    }">
    <h2 [ngClass]="{'self-center': true, 'text-2xl': true, 'text-white': theme==='dark'}">Lista de empleados</h2>
</div>
<ul [ngClass]="{
        'flex flex-col': true, 'justify-center': true, 'divide-y': true, 'divide-gray-100': theme==='dark',
        'divide-zinc-900': theme==='light', 'bg-zinc-700': theme==='dark', 'bg-white': theme==='light',
        'px-16': true, 'py-5': true, 'space-y-5': true, 'h-full': true, 'md:px-20': true,
        'lg:px-48': true, 'xl:px-20': true,
        '2xl:px-72': true
    }">

    @for (empleado of empleadosArray; track empleado) {
        <li class="flex flex-col justify-between space-y-2 mx-4 pt-5 pb-3 md:flex-row lg:flex-row xl:flex-row 2xl:flex-row">
            <div class="flex min-w-0 gap-x-4">
                <img class="h-24 w-20 flex-none rounded-full bg-gray-50" [src]="empleado.url_fotografia" width="auto"
                    height="auto">
                <div class="min-w-0 flex flex-col">
                    <p [ngClass]="{
                                'font-semibold': true, 'leading-6 px-1.5': true,
                                'text-gray-900': theme==='light', 'text-white': theme==='dark'
                            }">
                        {{empleado.nombre}} {{empleado.apellidos}}
                    </p>
                    <div [ngClass]="{
                                'flex space-x-3.5': true, 'text-sm': true, 'leading-6': true,
                                'text-gray-900': theme==='light', 'text-white': theme==='dark'
                            }">
                        <p class="px-2 py-0.5">{{empleado.tipo_documento}}</p>
                        <p class="px-2 py-0.5">{{empleado.num_documento}}</p>
                    </div>
                    <p [ngClass]="{'italic mt-2 px-2 py-1 block': true, 'text-sm text-white': theme==='dark'}">
                        fecha entrada:
                        <span [ngClass]="{'ml-3.5': true,}">{{empleado.fecha_entrada}}</span>
                    </p>
                    @if (empleado.fecha_retiro!==null && empleado.fecha_retiro!==undefined) {
                        <p [ngClass]="{'italic mt-2 p-1 block ': true, 'text-sm text-white': theme==='dark'}">
                            fecha retiro:
                            <span [ngClass]="{'ml-3.5': true,}">{{empleado.fecha_retiro}}</span>
                        </p>
                    }

                </div>
            </div>
            <div class="flex flex-col space-y-3.5 items-center">
                <div class="px-2 flex flex-col">
                    <h5 class="text-xs leading-5 text-gray-500 ml-auto">Opciones rol</h5>
                    <select
                        [ngClass]="{
                            'bg-neutral-300': theme==='light',
                            'bg-zinc-500': theme==='dark', 'w-40': true,
                            'h-8': true, 'pl-2': true, 'focus:scale-105': true, 'focus:ring-2': true,
                            'focus:ring-offset-1': true, 'focus:ring-offset-0-inst-blue': true,
                            'focus:bg-neutral-200': theme==='light',
                            'focus:bg-zinc-400': theme==='dark'
                        }"
                        name="rol"
                        (change)="setEmpleadoRol($event, empleado.usuario_id, empleado.num_documento)"
                    >
                        @if (empleado.rol === 'administrador') {
                            <option value="administrador">administrador</option>
                            <option value="asesor" id="asesor">asesor</option>
                            <option [value]="null">NULL</option>
                        } @else if(empleado.rol === 'asesor'){
                            <option value="asesor" id="asesor">asesor</option>
                            <option value="administrador">administrador</option>
                            <option [value]="null">NULL</option>
                        } @else {
                            <option [value]="null">NULL</option>
                            <option value="asesor" id="asesor">asesor</option>
                            <option value="administrador">administrador</option>
                        }
                    </select>
                </div>
                <div class="inline-block space-x-2 self-end px-2">
                    <button
                        class="p-1.5 rounded-md bg-blue-500 hover:bg-2-electric-blue"
                    >
                        <a
                            [routerLink]="
                                '/menus/menu-administrador/admin-empleados/consultar/'+
                                empleado.num_documento.concat('/modificar')
                            "
                            routerLinkActive="router-link-active" 
                        >
                            <img
                                width="18"
                                height="18"
                                src="https://img.icons8.com/fluency-systems-regular/18/000000/edit--v1.png"
                                alt="edit--v1"
                            />
                        </a>
                    </button>
                    <button
                        class="p-1.5 rounded-md bg-red-600 hover:bg-fuchsia-300"
                        (click)="confirmAndDeleteEmpleado(empleado.num_documento)"
                    >
                        <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/material-outlined/18/fffff/delete-trash.png"
                            alt="delete-trash"
                        /> 
                    </button>
                </div>
            </div>
        </li>
    }
</ul>
