<app-logged-in-user-menu-navbar [rolName]="rolName" [theme]="theme" (themeTogglerEvent)="toggleTheme($event)">
</app-logged-in-user-menu-navbar>
<div [ngClass]="{
        'grid': true, 'grid-cols-1': true, 'gap-x-2': true, 'gap-y-16': true, 'h-screen': true, 'mt-10': true,
        'place-items-center': true, 'justify-around': true, 'mx-auto': true, 'flex': true, 'flex-col': true,
        'overflow-y-scroll': true, 'mt-11': true, 'px-20': true, 'py-32': true, 'bg-zinc-700': theme==='dark', 'w-screen': true,
        'md:grid-cols-2': true, 'md:gap-x-28': true, 'lg:grid-cols-2': true, 'lg:gap-x-10': true, 'lg:pt-11': true,
        'xl:pb-24': true, 'xl:grid-cols-3': true, 'xl:gap-x-1': true, '2xl:grid-cols-3': true, '2xl:gap-x-0': true
    }">
    <div [ngClass]="{
            'flex': true, 'flex-col': true, 'space-y-14': true, 'px-11': true, 'py-10': true, 'rounded-lg': true,
            'shadow-md': theme==='light', 'shadow-neutral-300': theme==='light', 'bg-neutral-100': theme==='light',
            'bg-transparent':  theme==='dark', 'md:ml-20': true, 'lg:-ml-3': true, 'xl:ml-60': true, 'xl:items-end': true, '2xl:ml-64': true
        }">
        <span [ngClass]="{
                'inline': true, 'w-60': true,'justify-items-center': true, 'text-xl': true, 'text-0-cool-gray':  theme==='dark',
                'md:w-72': true, 'lg:w-72': true, 'xl:w-72': true, '2xl:w-80': true
            }">
            Bienvenido(a)
            <span [ngClass]="['italic']">Ramón Arteta Palacios</span> al sistema
            <span [ngClass]="'font-semibold'">GAVASOFT</span>. Elija una opción:
        </span>
        <ul [ngClass]="['grid','grid-cols-1', 'gap-y-16', 'justify-around', 'justify-items-center']">
            <li *ngFor="let item of items">
                <div [ngClass]="['flex', 'space-x-4']">
                    <img [ngSrc]="item.icon.url"
                        [ngClass]="{'rounded-sm': true, 'bg-zinc-500': theme==='dark', 'h-auto': true}"
                        [width]="item.icon.width" [height]="item.icon.height" />
                    <button
                        [ngClass]="{
                            'inline': true, 'px-5': true, 'py-3': true, 'rounded-md': true,
                            'placeholder-sky-300': true, 'bg-0-inst-blue':  theme==='dark',
                            'bg-emerald-100': theme==='light', 'shadow-sm': true, 'shadow-slate-400': true,
                            'text-2-electric-blue': theme==='dark', 'w-48': true, 'h-auto': true,
                            'hover:scale-105': true
                        }"
                        (click)="pushAdminMenuOption(item.title)"
                    >
                        {{item.title}}
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div [ngClass]="{
            'flex': true, 'flex-col': true, 'space-y-7': true, 'mx-auto': true, 'p-8': true, 'rounded-md': true,
            'bg-emerald-100': theme==='light', 'bg-zinc-600': theme==='dark', 'lg:col-span-1': true,
            'xl:col-span-2': true, 'xl:w-2/3': true, 'xl:h-3/5': true, '2xl:col-span-2': true, 'items-center': true,
            '2xl:w-auto': true, '2xl:h-auto': true
        }">
        <img
            [ngSrc]="'../../../../assets/SPA-relationship.png'"
            [ngClass]="['rounded-sm', 'shadow-lg', 'shadow-slate-400', 'w-full', 'h-full', 'md:w-auto', 'lg:w-auto']"
            width="640"
            height="640"
            priority
        />
    </div>

    <div [ngClass]="{
            'overflow-auto': true, 'px-6': true, 'pt-1.5': true, 'pb-2': true, 'space-x-3.5': true, 'text-lg': true,
            'justify-center': true, 'rounded-3xl': true, 'bg-gray-400': theme==='dark', 'md:col-span-2': true,
            'lg:col-span-2': true, 'xl:col-span-3': true, '2xl:col-span-3': true
        }">
        <!-- botón que recorta el arreglo breadcrumb al anterior ítem actualizando botones y 'miga de pan' del menú -->
        <button
            [ngClass]="['inline-block', 'self-start', 'align-middle', 'mr-5', 'w-5', 'hover:underline']"
            *ngIf="breadcrumb.length > 1"
            (click)="cutBreadcrumbByTitleIndex(-2)"
        >
            <img
                src="
                    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAA
                    AbUlEQVR4nGNgGAVUB16rwxi81v6HY8+1K6lnuM8mEQavNS8Rhq95zeC6Vox6FniuWYXieu91odQz3Gs0aHABr9GgGbBkCctY
                    nmteoGQs343iDFQFXuv8UYuGNRsYqA48R4OKWOA5GlSjgAETAAD1SqRoWVlWGQAAAABJRU5ErkJggg==
                "
                width="24"
                height="24"
            />
        </button>

        <ul [ngClass]="'inline-block'">
            <li>
                <!-- 'Miga de pan' (breadcrumb en inglés) de recorrido navegación del Menú Administrador en parte inferior de la pantalla -->
                @for (title of breadcrumb; track title) {
                    <span [ngClass]="{
                                        'text-0-inst-blue': breadcrumb.at(-1)!==title,
                                        'text-zinc-700': breadcrumb.indexOf(title)!==0 && breadcrumb.at(-1)===title,
                                        'hover:cursor-pointer': breadcrumb.at(-1)!==title,
                                        'hover:cursor-text': breadcrumb.at(-1)===title
                                    }" (click)="
                                        cutBreadcrumbByTitleIndex(breadcrumb.indexOf(title))
                                    ">
                        {{title}}
                    </span>
                    @if (breadcrumb.at(-1) !== title) {
                        <span [ngClass]="{'text-0-inst-blue': title!==breadcrumb.at(-2),'text-zinc-700': title===breadcrumb.at(-2)}"> /</span>
                    }
                }
            </li>
        </ul>
        
    </div>

</div>