<app-logged-in-user-menu-navbar [rolName]="'Administrador'" [theme]="theme" (themeTogglerEvent)="toggleTheme($event)">
</app-logged-in-user-menu-navbar>
<div [ngClass]="{
        'flex': true, 'flex-col': true, 'justify-center': true, 'bg-zinc-700': theme==='dark', 'mx-auto':true,
        'mt-10': true, 'pt-20': true, 'h-full': true, 'lg:h-screen':true, 'xl:h-screen':true, '2xl:h-screen':true
    }">
    <div [ngClass]="[
            'flex', 'flex-col', 'rounded-lg', 'justify-center', 'items-center', 'px-3', 'py-6', 'h-max-screen'
        ]">
        <div [ngClass]="{
                'flex': true, 'flex-col': true, 'rounded-lg': true, 'bg-neutral-100': theme==='light',
                'bg-zinc-600': theme==='dark', 'text-center': true, 'space-y-4': true, 'mb-8': true,
                'px-7': true, 'py-4': true, 'w-10/12': true, 'md:w-9/12': true, 'lg:w-5/12': true, 'xl:w-5/12': true,
                '2xl:w-2/5': true
            }">
            <span [ngClass]="{
                    'rounded-lg': true, 'bg-zinc-700': theme==='dark',
                    'text-sm': true, 'text-0-cool-gray': true,
                    'font-bold': true, 'md:text-md': true,
                    'lg:text-lg': true, 'xl:text-lg': true,
                    '2xl:text-lg': true
            }">
                Bienvenido(a) sr(a).
                <span [ngClass]="'italic'">Ramón Arteta</span>
            </span>
            <h1 [ngClass]="{
                    'text-lg': true, 'text-white': theme==='dark',
                    'text-2-smooky-black': theme==='light', 'font-semibold': true,
                    'mx-3.5': true, 'mt-1': true, 'md:text-lg': true, 'lg:text-xl': true,
                    'xl:text-2xl': true, '2xl:text-3xl': true
                }">
                FORMULARIO NUEVO SERVICIO
            </h1>
        </div>
        <form [ngClass]="[
                'flex', 'flex-col', 'rounded-lg', 'ring-1', 'ring-zinc-900', 'bg-slate-300',
                'justify-self-center', 'px-9', 'py-9', 'w-10/12', 'md:w-9/12', 'lg:w-5/12',
                'xl:w-5/12', '2xl:w-2/5'
            ]">
            <fieldset class="grid grid-rows-8 gap-y-1.5 mb-1 justify-items-center">
                <div [ngClass]="['flex', 'flex-col']">
                    <legend class="font-mono font-semibold mx-auto">Agregar Servicio del Spa</legend>
                    <hr class="h-0.5 bg-zinc-400">
                </div>

                <input type="text"
                    class="w-52 h-10 rounded-md outline-2 outline-amber-300 ring-1 ring-stone-300 pl-2 md:w-full lg:w-full xl:w-10/12 xl:focus:w-full 2xl:w-11/12 2xl:focus:w-full"
                    placeholder="Título" />

                <div class="flex flex-col-reverse mb-3 w-10/12 lg:w-full xl:w-10/12 2xl:w-11/12">
                    <label class="text-sm self-center text-zinc-700">
                        Imágen del servicio en extensión .jpg o .jpeg
                    </label>
                    <input type="file" accept=".jpg, .jpeg" class="
                            w-52 h-7 rounded-md outline-2 outline-amber-300 ring-1
                            ring-stone-300 pl-2 pt-0.5 md:w-full lg:w-full xl:w-10/12
                            xl:focus:w-full 2xl:w-11/12 2xl:focus:w-full
                        " />
                </div>

                <input type="text"
                    class="w-52 h-10 rounded-md outline-2 outline-amber-300 pl-2 ring-1 ring-stone-300 md:w-full lg:w-full xl:w-10/12 xl:focus:w-full 2xl:w-11/12 2xl:focus:w-full"
                    placeholder="Descripción" />

                <input type="number"
                    class="w-52 h-10 rounded-md outline-2 outline-amber-300 pl-2 ring-1 ring-stone-300 md:w-full lg:w-full xl:w-10/12 xl:focus:focus:w-full 2xl:w-11/12 2xl:focus:w-full"
                    placeholder="Valor (COP)" />

                <div class="flex flex-col-reverse space-y-1 w-auto lg:w-full xl:w-10/12 2xl:w-11/12">
                    <label class="text-sm self-center text-zinc-700">
                        Duración/tiempo
                    </label>
                    <input type="time" class="
                            w-52 h-10 rounded-md outline-2 outline-amber-300
                            pl-2 ring-1 ring-stone-300 focus:w-56 md:w-full
                            lg:w-full xl:w-10/12 xl:focus:w-full 2xl:w-11/12
                            2xl:focus:w-full" />
                </div>

                <button
                    class="
                        self-center mt-7 w-11/12 h-10 rounded-md bg-2-electric-blue
                        text-center text-zinc-900 py-1.5 hover:bg-cyan-500
                    "
                    type="submit"
                >
                    GUARDAR
                </button>
            </fieldset>


        </form>
    </div>
    <button [routerLink]="'/menu-administrador'" routerLinkActive="router-link-active" [ngClass]="['rounded-3xl', 'ring-2', 'ring-slate-200', 'bg-0-inst-blue', 'text-white',
            'opacity-75', 'font-semibold', 'w-24', 'h-24', 'cursor-pointer', 'z-10', 'fixed',
            'top-52', 'left-10',  'md:left-24','lg:left-60', 'xl:left-64', '2xl:left-80',
            'hover:bg-blue-600'
        ]">
        <h4>REGRESAR AL MENÚ</h4>
    </button>
</div>